/*
* @Author: Marte
* @Date:   2018-07-31 14:12:21
* @Last Modified by:   Marte
* @Last Modified time: 2018-08-01 14:15:08
*/

body,html{
    display:flex;
    flex-direction:column;
    height: 100%;
    overflow:hidden;
    background-color: rgba(0, 0, 0, 0.04);
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:6px;
    height:120px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius:3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:1px;
    background:#BFBFBF;
    -webkit-box-shadow:#8C85E6;
}
/*
滑动块
 */
::-webkit-scrollbar-thumb:window-inactive {
    background: #BFBFBF;
    height:120px !important;
    border-radius:3px;
}
/*
导航
 */
.nav-header{
    height:100%;
    border:0;
    line-height:64px;
    padding:0 24px 0 24px;
    background-color: #1890ff;
    height:64px;
    z-index:9999999999;
    width:100%;
}
.nav-header h3{
    margin:0;
    padding:0;
    line-height:64px;
    display:flex;
    flex-wrap:nowrap;
}
.nav-header .left-logo{
    float:left;
    display:flex;
    justify-content:space-between;
    flex-wrap:no-wrap;
    margin-right:6%;

}
.nav-header .icon-menu{

    color:#fff;
    font-size: 32px;
    line-height:64px;
}
.nav-header .m-menu{
    display:flex;
    height:100%;
    width:auto;
    overflow:hidden;


}
.nav-header .m-menu .items{
    min-width:96px;
    height:100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 64px;
  letter-spacing: normal;
  color: #ffffff;
  text-align:center;
  cursor: pointer;
}
.items-active{
    background-color: #096dd9;
    border-bottom:4px solid #69C0FF;

}
.right-menu{
    float:right;
    height:100%;
    overflow:hidden;
    position: absolute;
    right:24px;
    top:0;
}
.right-menu span{
    color:#fff;
    font-size:24px;
    color:#fff;
    line-height:64px;
    width:24px;
}
.right-menu h4{
    flex-grow:1;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    padding-right:1%;
    box-sizing:border-box;
    line-height:64px;
}
.right-menu  .drap-box{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
}
.right-menu .drap-menu{
    position:absolute;
    top:64px;
    right:0;
    background:#ddd;
}
.drop-select{
    border-radius:2px;z-index: 9999999999999999;width:100%;height:100px;overflow:auto;background:#fff;box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);text-align: left;display:none;
}
.drop-select li{
    box-sizing:border-box;
}
.drop-select li:hover{
    background:#1890ff;
    color:#fff;
}
.drop-select .active-ss{
    background:#1890ff;
    color:#fff;
}

  /*

导航区域
 */
.user-info-xx{
    display:flex;
    justify-content:flex-end;
}
.user-info-xx .userinfo-box{
    display:flex;
    align-items: center;
     justify-content:space-between;

}

.user-info-xx .userinfo-box:nth-child(1){
    width:30%;
}
.user-info-xx .userinfo-box:nth-child(2){
    width:30%;
    margin-left:35px;
}
.user-info-xx .userinfo-box span{
    width:10%;
    color:#fff;
    font-size:24px;
}
.user-info-xx .userinfo-box h4{
    flex-grow:1;
    padding-left:10%;
    color:#fff;
    text-align:center;
    font-size: 14px;
}
.nav-header h3{
    white-space:nowrap;
}
.res-992-m-menu,.res-992-m-menubox{
    display:none;
}
@media screen and (width:1024px){
    .user-info-xx .userinfo-box{
        width:40% !important;
    }
}
/*小于992px开始相应*/
@media screen and (max-width:992px){
    .container-fluid{
        margin-top:0;
    }
    .nav-header{
        position:relative;
    }
    .nav-header .col-md-4
    {
        display:none;

    }
    .nav-header .col-md-6
    {
        display:none;

    }
    .res-992-m-menu{
        display:block;

    }
     .res-992-m-menu span{
        float:right;
        line-height:64px;
        color:#fff;
        font-size:24px;
     }
    .res-992-m-menubox{
        position: absolute;
        top:100%;
        left:0;
        height:auto;
        right:0;
        overflow:auto;
        background:#fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        z-index:9999999999999999999;
    }
     .res-992-m-menubox ul{
        padding:0 15px;
     }
     .res-992-m-menubox ul li{
        padding-left:15px;
        height:32px !important;
        display:flex;
        justify-content:flex-start;

     }
     .res-992-m-menubox ul li a{
        height:32px !important;
        line-height:32px;
        color: rgba(0, 0, 0, 0.65);
     }
      .res-992-m-menubox ul li:hover{
        background-color: rgba(0, 0, 0, 0.04);
      }
     .res-992-m-menubox ul li a:hover{
        color: rgba(0, 0, 0, 0.65);
     }
     .res-992-m-menubox li span{
        line-height:32px;
        color: rgba(0, 0, 0, 0.65);
     }
     .res-992-m-menubox  .dropdown .dropdown-menu{
        width:100%;
        border: 0;
     }


}
/*
    导航完
 */

/*
导航下面内容
 */
.con{
    height: 200px;
    background:#F5F5F5;
    flex-grow:1;
    display: flex;
    padding:16px 0;
}
.con>div{
    flex-grow:1;
}
.con .left{
    width:280px;
    flex-grow:0;
    background:#fff;
}
.con .right-r{
    margin:0 16px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;

}
.con .right-r .non-img{
    width:135px;
    height:135px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;

}
.con .right-r .non-img img{
    height:96px;
    width:96px;
    background:#ccc;
    border-radius:50%;
}
.con .right-r .non-img h6{
    text-align:center;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height:24px;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
}
.con .youce{
    width: 400px;
    background:#fff;
    flex-grow:0;
}

/*左侧提示信息*/
.left .non-people{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:16px 24px;
    box-sizing:border-box;
    height:64px;
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
}
.left .non-people span{
    font-size:20px;
    color: rgba(0, 0, 0, 0.65);
    line-height:64px;
}
.left .non-people h4{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height:64px;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.65);
    margin:0 16px 0 8px;
}
/*右侧切换tab*/
.youce .slide-box{
    height:48px;
    padding:0 80px;
    display:flex;
    border-bottom:1px solid  rgba(0, 0, 0, 0.15);
}
.youce .slide-box .slide-li{
    width:120px;
    height:100%;
    box-sizing:border-box;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height:48px;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    cursor:pointer;
}
.slide-li-active{
    color: #1890ff;border-bottom:2px solid #1890ff;
}

/*
对话列表
 */
.left{
    display:flex;
    flex-direction:column;
}
.left .chatBox-info{
    flex-grow:1;
}
.chatBox-list{
    width:100%;
    padding-right: 16px;
    box-sizing:border-box;
    overflow-y:scroll;
}
.chat-list-people{
    padding-left:24px;
    box-sizing:border-box;
    display:flex;
    height:104px;
    width:100%;
    cursor:pointer;
}
.chat-list-people .people-box{
    width:100%;
    display:flex;
    padding:16px 0 8px 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.15);

}
.chat-list-people .people-box .tx-box{
    width:19.5%;
    height:100%;
}
.chat-list-people .people-box .tx-box img{
    width:48px;
    height:48px;
    border-radius:50%;
}
.chat-list-people .people-box .chat-name{
    width:80.5%;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    overflow:hidden;
    padding-left:16px;
    box-sizing:border-box;
}
.people-box .chat-name p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.65);
    width:100%;
}
.people-box .chat-name span.mess-info{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.45);
    width:100%;
}
.people-box .chat-name span.mm-info{
    width: 56px;
    height: 24px;
    border-radius: 4px;
    background-color: #faad14;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height:24px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.people-box .message-num{
    width:8px;
    height:8px;
    border-radius:50%;
    background:red;
}

/* 发送聊天消息框体*/
.right-msg{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}
.right-msg .msg-head{
    padding-left:24px;
    min-height:80px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    box-sizing:border-box;
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
}
.right-msg .msg-head .avatrar-people{
    width:48px;
    height:48px;
    border-radius:580%;
    margin-right:16px;
}
.right-msg .name-people{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.65);

}

/*消息框体*/
.chatBox-kuang{
    flex-grow:1;
    display:flex;
}
/*消息框中的左右消息*/
.chatBox-content{
    display:flex;
    flex-direction:column;
    width:100%;
}
#chatBox-content-demo{
    flex-grow:1;
    overflow:scroll;
}
.clearfloat{
    zoom:1;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}
.clearfloat .right{
    float: right;
}
.author-name{
    text-align: center;
    margin: 15px 0 16px 0;
    color: #7189c9;
}

.clearfloat .chat-message{
    max-width:564px;
    text-align: left;
    padding: 8px 12px;
    word-wrap:break-word;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top:8px;
    margin-bottom:20px;
}
.clearfloat .weidu{
    text-align: right;
    color: #6c7489;
    font-size: 10px;
    padding-right: 10%;
}

.clearfloat .left-msg .chat-message{
    background-color: rgba(0, 0, 0, 0.04);
    min-height: 36px;
    color: rgba(0, 0, 0, 0.65);
    font-size:14px;
}
/*
去除消息框上的小三角
 */
/*.clearfloat .left .chat-message:before{
    position: absolute;
    content: "";
    top: 8px;
    left: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
}*/

.clearfloat .right{
    text-align: right;
}
.clearfloat .right .chat-message{
    border-radius: 4px;
    background-color: #e6f7ff;
    color: rgba(0, 0, 0, 0.65);
    text-align: left;
    min-height: 36px;
    position: relative;
    font-size:14px;
}
/*
消息发送日期
 */
.chat-date{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.25);
}
.chat-nick{
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}


/*
去除消息框上的小三角
 */
/*.clearfloat .right .chat-message:before{
    position: absolute;
    content: "";
    top: 8px;
    right: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #27587b;
}*/
/*消息撤回*/
.right .chehui{
    position: absolute;
    top:-40px;
    width:72px;
    height:36px;
    background:#3C414F;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    line-height: 36px;
    display:none;
}
.right .chehui:before{
    position: absolute;
    content: "";
    top: 35px;
    right: 26px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3C414F;

}
.clearfloat .chat-avatars{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eee;
    vertical-align: top;
    overflow: hidden;
}
.clearfloat .chat-avatars>img{
    width:32px;
    height:32px;
}
.clearfloat .left .chat-avatars{
    margin-right: 10px;
}
.clearfloat .right .chat-avatars{
    margin-left: 10px;
}

/*消息发送框*/
.chatBox-send{
    width: 100%;
    padding: 10px 5px;
    min-height:200px;
    background: #fff;
    border-top: 1px #D0D0D0 solid;
    display:flex;
    flex-direction:column;
}
.div-textarea{
    width: 260px;
    min-height: 20px;
    max-height: 100px;
    _height: 120px;
    padding: 3px;
    outline: 0;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    user-modify: read-write-plaintext-only;    /*纯文本*/
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
}
.div-textarea:focus{
    box-shadow: 0 0 15px rgba(82, 168, 236, 0.6);
}
.chatBox-send>div{
    float: left;
}
.chatBox-send>div:nth-of-type(2){
    font-size: 0;
}
.chatBox-send>div button{
    padding: 1px 5px;
    margin-left: 3px;
}
.chatBox-send>div label{
    padding: 1px 5px;
    margin-left: 3px;
}
#chat-biaoqing{
    position: relative;

}
.hidden{
    display: none;
}
.biaoqing-photo{
    width: 200px;
    height: 160px;
    background: #ffffff;
    position: absolute;
    top: -160px;
    right: 40px;
    text-align: left;
    border-radius: 5px;
    border: solid 1px #c5c5c5;
    display: block;
}
.biaoqing-photo::before{
    content: '';
    position: absolute;
    border-top: solid 7px #c5c5c5;
    border-left: solid 9px transparent;
    border-right: solid 9px transparent;
    bottom: -7px;
    right: 36px;
}
.biaoqing-photo::after{
    content: '';
    position: absolute;
    border-top: solid 7px #fff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    bottom: -5px;
    right: 35px;
}
.biaoqing-photo>ul{
    margin: 0;
    width: 200px;
    height: 160px;
    padding: 3px 2px;
    list-style: none;
}
.biaoqing-photo>ul>li{
    float: left;
    height: 30px;
    margin-left: 2px;
}
.emoji-picker-image{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/bqxtb01.png) no-repeat;
    background-size: 200px auto;
    cursor: pointer;
}
.biaoqing-photo>ul>li span.emoji-picker-image:hover{
    border: solid 1px #f5f5f5;
}
.chat-message img{
    width: 220px;
    height:auto;
}

/*表情盒子*/
.bq-box{
    height:200px;

}