/*
* @Author: Marte
* @Date:   2018-07-07 10:04:01
* @Last Modified by:   Marte
* @Last Modified time: 2018-07-07 17:53:39
*/
.navbar{
    height:64px;
    padding-left:24px;
    box-sizing: border-box;
    background: #1890ff;

}
@media (min-width: 768px){
    .navbar-right {
        float: right!important;
        margin-right: 0;
    }

}

.navbar-nav {
    margin: 7.5px 15px;

}

.icon-bar {
    background: #fff !important;
}
@media screen and (max-width:768px) {
    #bs-example-navbar-collapse-1{
        position: absolute;left: 0;right: 0;top: 100%;z-index: 99999999999;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding:0 15px 0;
    }
    .nav>li {
        display: block;
        position: relative;
        background: #ddd;
        border-bottom: 1px solid #fff;
    }

    .navbar-default .navbar-brand {
        color: #fff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 17px;
    }

}
@media screen and  (min-width:768px){
    .navbar-nav {
        margin:0;
        margin-left: 6%;
    }
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
        color: #fff;
    }
    .navbar-nav>li>a{
        line-height: 34px;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        display:block;
        color: #fff;
        background-color: #096dd9;
        border-bottom:4px solid #69c0ff;
        box-sizing:border-box;
        padding-bottom: 11px;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: #096dd9;
        background-color: transparent;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #fff;
        background-color: #096dd9;
        border-bottom:4px solid #69c0ff;
        padding-bottom: 11px;
    }

    .navbar-default .navbar-brand {
        color: #fff;
    }
    .navbar-default .navbar-brand:hover {
        color: #ffffff;
        background-color: transparent;
    }

    #bs-example-navbar-collapse-1{
        margin-right:-25px;
    }

    .navbar-right .dropdown-li{
        width:190px;
    }
     .navbar-right .dropdown-li:nth-child(2){
        width:130px;
    }
     .navbar-right .dropdown-li .dropdown-li-a{
        width:100%;
        display:flex;
        align-items: center;
        justify-content:space-between;

     }
      .navbar-right .dropdown-li a span:nth-child(1){
        width:10%;
      }
       .navbar-right .dropdown-li a span.factory-xx{
        width:80%;
        padding-left:10%;
        text-align: center
       }

       .dropdown-li .dropdown-menu a{
        text-align:center;
       }


}
/*
    小于992px时出现 按钮
 */
/*@media screen and (min-width: 992px){
    .navbar-toggle {
        display: none;
    }

}
@media screen and (max-width: 992px){
    .navbar-toggle {
        display: block;
    }

}

@media screen and (min-width: 992px){
    .navbar-collapse .collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }

}
@media screen and (min-width: 992px)
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}

@media screen and (min-width: 992px){
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}

}
@media screen and (min-width: 992px){
    #bs-example-navbar-collapse-1 {
        margin-right: -25px;
    }
}
@media screen and (width:1024px){
    .navbar-nav {
        margin: 0;
    }

}


@media screen and (width:768px){
    .navbar-nav{
        width:100%;
        margin:0;
    }
    .navbar-nav>li{
        width:100%;
    }
    .navbar-nav>li a{
        width:100%;
    }

    .dropdown .dropdown-menu {
        left: 0 !important;
    }
    #bs-example-navbar-collapse-1 {
        top: -500%;

    }
}
*/

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
    background-color: transparent;
}